.Header {
  background-color: $white;
  border-bottom: 1px solid $grey-1;

  &__inner {
    display: flex;
    width: 100%;
    justify-content: left;
    padding: 24px 0;
  }

  &__masthead {
    &__img {
      img {
        max-width: 200px;
        border-radius: 50%;
      }
    }

    &__title {
      font-size: 45px;
    }
  }
}
