.Project {
  border-top: 2px solid $black;
  width: calc((100% / 4) - 15px);
  padding-top: 20px;
  margin-bottom: 20px;

  &__img {
    background: url($commonImgPath+"project/op6-3.jpg");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 220px;
  }

  &__title {
    @include FiraBold();

    position: relative;
    font-size: 22px;
    margin: 5px 0;

    &:before {
      content: "";
      display: block;
      background: $grey-1;
      position: absolute;
      left: 5px;
      top: 45px;
      width: 15px;
      height: 2px;
    }
  }

  &__skills {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    &__skill {
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 15px 10px 0;

      &:last-child {
        margin-right: 0;
      }

      &--react {
        background-image: url($skillImgPath+"react.png");
        width: 20px;
        height: 20px;
      }

      &--redux {
        background-image: url($skillImgPath+"redux.png");
        width: 21px;
        height: 20px;
      }

      &--angular {
        background-image: url($skillImgPath+"angular.png");
        width: 20px;
        height: 20px;
      }

      &--sagas {
        background-image: url($skillImgPath+"sagas.png");
        width: 96px;
        height: 20px;
      }

      &--api {
        background: url($skillImgPath+"api.png");
        width: 96px;
        height: 20px;
        background-size: contain;
      }

      &--es2016 {
        background-image: url($skillImgPath+"es2016.png");
        width: 27px;
        height: 20px;
      }

      &--jquery {
        background-image: url($skillImgPath+"jquery.png");
        width: 20px;
        height: 20px;
      }

      &--immutable {
        background: url($skillImgPath+"immutable.svg");
        width: 140px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &--bem {
        background: url($skillImgPath+"bem.png");
        width: 24px;
        height: 20px;
        background-size: contain;
      }
    }
  }
}
